In [1]:
import pandas as pd
import numpy as np
import re

In [13]:
df = pd.read_csv('./Data.csv', sep=',')

In [14]:
dfnew = pd.read_csv('./fix_to_surname.csv', sep=';')

In [15]:
df['last name'] = dfnew['last name']

In [16]:
df2 = df

In [17]:
df2['firt name'] = df['firt name'].str.replace('#','e').str.replace('@','a').str.replace('!','i').str.replace('$','o').str.replace('%','a').str.replace('-',' ')

In [18]:
df2['last name'] = df['last name'].str.replace('ðŸ˜€','o').str.replace('ðŸ˜‚','u').str.replace('ï¿½','i').str.replace('$','e').str.replace('3','a').str.capitalize()

In [8]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,"jsomersett1@cisco,com",05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndufffdufffdr2@home_pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,NaN,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,NaN,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,NaN,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro$oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,"sgrwyrq@bloomberg,com",1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,"vlufffdufffdghrufffdyrr@etsy,com",1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [9]:
def replace_special_chars_after_at(text):
    if isinstance(text, str): 
        parts = text.split('@')
        if len(parts) == 2:
            cleaned_part = re.sub(r'[^a-zA-Z0-9]', '.', parts[1])
            return parts[0] + '@' + cleaned_part
    return text

In [21]:
df2['email'] = df['email'].replace(np.nan, 'UNDEFINED').str.replace('$','@').str.replace('#','@').str.replace('!','@').str.replace('tmall.','hotmail.').str.strip()

In [22]:
df2['email'] = df['email'].apply(replace_special_chars_after_at)

In [56]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomersett1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndufffdufffdr2@home.pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlufffdufffdghrufffdyrr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [47]:
filtered_df = df2[df2['email'].str.contains('ufffd', na=False, regex=True)]

In [63]:
filtered_df

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
2,Noam,Bowton,ndufffdufffdr2@home.pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
7,Mora,Hedde,maccufffdmbufffd7@marriott.com,07-31-1975,+60 (940) 287-6127,"910 Forest Dale Trail, Building 8",50150501,81.77,9,ringgit,10/18/2023,"Yogurt - Cherry, 175 Gr"
9,Ella,Ungerer,estrufffdthufffdrs9@uol.com.br,03-28-1979,+63 (750) 277-3525,4 American Ash Crossing,1686,33.08,91,Peso,8/7/2024,Tea - Honey Green Tea
19,Ganter,Penn,gmufffdcshufffdnufffdj@ow.ly,1971/12/13,+86 (124) 409/4738,7th 9558 Alley,NaN,56.55,35,Yuan Renminbi,6/5/2024,Pastry - Carrot Muffin - Mini
23,Virgina,Aves,vstufffdttlufffdn@godaddy.com,11-03-1970,+55 (485) 472-2305,NaN,97755-000,16.10,37,Real,12/5/2023,Flavouring Vanilla Artificial
...,...,...,...,...,...,...,...,...,...,...,...,...
977,Hollis,Hymers,haufffdlwufffdrdr5@bbc.co.uk,10/12/1974,+86 (145) 658-4409,Center Northwestern 4,NaN,39.72,26,yuan renminbi,8/5/2024,"Soup - Beef, Base Mix"
982,Wash,Giraudou,wwufffdufffddyufffdufffdrra@ted.com,05-23-1973,+82 (808) 844-3487,Place 66450 Schiller,NaN,26.78,13,won,5/15/2024,"Pepsi, 355 Ml"
984,Dorothea,Leatham,drufffdndufffdlsufffdnrc@earthlink.net,1999/08/17,+593 (123) 533-1779,3 Bay Point,NaN,85.41,90,Dollar,7/31/2024,Milk - Chocolate 500ml
991,Solly,Postians,ssufffdvufffdllrj@bloglovin.com,5/13/1998,+389 (243) 105-7886,NaN,6339,36.56,30,Denar,11/28/2023,"Veal - Chops, Split, Frenched"
999,Vivien,Belward,vlufffdufffdghrufffdyrr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [64]:
df2['email'] = df['email'].str.replace('ufffd','', regex=False)

In [65]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomersett1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndr2@home.pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlghryrr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [72]:
def clean_email(text):
  if text != "UNDEFINED":
    local_part, domain_part = text.split('@')
    cleaned_local_part = re.sub(r'(.)\1+', r'\1', local_part)
    return f'{cleaned_local_part}@{domain_part}'
  return text

In [75]:
df2['email'] = df['email'].apply(clean_email)

In [76]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomerset1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,NaN,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndr2@home.pl,NaN,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,NaN,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,NaN,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,NaN,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,NaN,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlghryr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,NaN,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"