In [85]:
import pandas as pd
import numpy as np
import re

In [45]:
df = pd.read_csv('./Data.csv', sep=',')

In [46]:
dfnew = pd.read_csv('./fix_to_surname.csv', sep=';')

In [47]:
df['last name'] = dfnew['last name']

In [48]:
df2 = df

In [49]:
df2['firt name'] = df['firt name'].str.replace('#','e').str.replace('@','a').str.replace('!','i').str.replace('$','o').str.replace('%','a').str.replace('-',' ')

In [50]:
df2['last name'] = df['last name'].str.replace('ðŸ˜€','o').str.replace('ðŸ˜‚','u').str.replace('ï¿½','i').str.replace('$','e').str.replace('3','a').str.capitalize()

In [51]:
df = df.replace(np.nan, 'UNDEFINED')
df2 = df.replace(np.nan, 'UNDEFINED')

In [52]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,"jsomersett1@cisco,com",05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,UNDEFINED,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndufffdufffdr2@home_pl,UNDEFINED,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro$oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,UNDEFINED,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,UNDEFINED,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,"sgrwyrq@bloomberg,com",1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,"vlufffdufffdghrufffdyrr@etsy,com",1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,UNDEFINED,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [53]:
def replace_special_chars_after_at(text):
    if isinstance(text, str): 
        parts = text.split('@')
        if len(parts) == 2:
            cleaned_part = re.sub(r'[^a-zA-Z0-9]', '.', parts[1])
            return parts[0] + '@' + cleaned_part
    return text

In [54]:
df2['email'] = df2['email'].str.replace('$','@').str.replace('#','@').str.replace('!','@').str.replace('tmall.','hotmail.').str.strip()

In [55]:
df2['email'] = df2['email'].apply(replace_special_chars_after_at)

In [56]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomersett1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,UNDEFINED,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndufffdufffdr2@home.pl,UNDEFINED,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,UNDEFINED,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,UNDEFINED,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlufffdufffdghrufffdyrr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,UNDEFINED,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [57]:
filtered_df = df2[~df2['email'].str.contains('@', na=False, regex=True)]

In [58]:
filtered_df

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
6,Rosco,UNDEFINED,UNDEFINED,7/13/1992,+86 (171) 362-6491,7 Mockingbird Court,UNDEFINED,86.60,18,Yuan Renminbi,7/11/2024,"Syrup - Monin, Amaretta"
8,Fiona,Ricardou,UNDEFINED,1971/01/17,+86 (302) 213.2067,20131 Lane Crowley,UNDEFINED,82.23,67,yuan renminbi,10/3/2024,Wine - Sicilia Igt Nero Avola
12,Ariadne,Strewther,UNDEFINED,1985/12/06,+48 (168) 175-3704,Anniversary 7 Circle,14-40114-,59.88,74,Zloty,6/17/2024,Shichimi Togarashi Peppeers
...,...,...,...,...,...,...,...,...,...,...,...,...
971,Matthiew,Troucher,UNDEFINED,1991/11/09,+47 (519) 404.9243,Parkway 1760 Scott,3260326,95.52,29,krone,2/2/2024,Soup V8 Roasted Red Pepper
979,Patience,Crookall,UNDEFINED,1983/09/06,UNDEFINED,Fulton Road 8,309271,12.40,9,Ruble,3/20/2024,Orange - Blood
981,Kip,Costock,UNDEFINED,5/1/1990,+30 (557) 708-0136,"330 Badeau Park, Suite 5",UNDEFINED,48.89,55,Euro,3/26/2024,Mace
988,Martha,Olcot,UNDEFINED,1982/10/10,+31 (590) 896-8220,"5674 Badeau Junction, Apt 7",UNDEFINED,95.51,90,Euro,10/12/2024,Chicken - Whole Fryers
995,Kelby,Brimelow,UNDEFINED,6/6/1973,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad

In [59]:
df2['email'] = df2['email'].str.replace('ufffd','', regex=False)

In [60]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomersett1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,UNDEFINED,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndr2@home.pl,UNDEFINED,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,UNDEFINED,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,UNDEFINED,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlghryrr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,UNDEFINED,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [61]:
def clean_email(text):
  if text == "UNDEFINED" or pd.isnull(text):
    return text
  local_part, domain_part = text.split('@')
  cleaned_local_part = re.sub(r'(.)\1+', r'\1', local_part)
  return f'{cleaned_local_part}@{domain_part}'

In [62]:
df2['email'] = df2['email'].apply(clean_email)

In [63]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,2/25/1978,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomerset1@cisco.com,05-26-1979,+385 (962) 935-5565,9678 Mcguire Court,UNDEFINED,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndr2@home.pl,UNDEFINED,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,12-17-1974,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982/06/25,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,6/6/1973,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,06-24-1984,+62 (962) 609.7059,12587 Terrace Derek,UNDEFINED,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983/02/28,+62 (145) 861-3249,96 Stoughton Plaza,UNDEFINED,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987/07/21,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlghryr@etsy.com,1974/01/31,+258 (598) 974-2128,Crownhardt Point 7744,UNDEFINED,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [64]:
df2['date of birth'] = df2['date of birth'].apply(lambda x: pd.to_datetime(x, errors='coerce') if x != 'UNDEFINED' else x)

In [65]:
df2

,firt name,last name,email,date of birth,phone number,address,postal code,price,amount,currency,order date,product name
0,Wendy,Brough,wvnr0@jiathis.com,1978-02-25 00:00:00,+60 (713) 447.6315,34 Emmet Avenue,62652,65.17,37,Ringgit,8/9/2024,Cookies - Amaretto
1,Jessalin,O'hare,jsomerset1@cisco.com,1979-05-26 00:00:00,+385 (962) 935-5565,9678 Mcguire Court,UNDEFINED,1.62,48,Kuna,6/27/2024,"Salsify, Organic"
2,Noam,Bowton,ndr2@home.pl,UNDEFINED,+1 (816) 214-3377,"4466 Spenser Crossing, Suite 5",64082,42.64,37,dollar,4/13/2024,Wine - Rubyport
3,Collette,Hallede,UNDEFINED,1974-12-17 00:00:00,+595 (801) 725-3773,18 Armistice Alley,UNDEFINED,52.81,44,Guarani,11/19/2023,Cookie Double Choco
4,Mercy,Tatum,UNDEFINED,1982-06-25 00:00:00,+81 (355) 561-6735,4464 Golf View Drive,344-0061,38.71,45,Yen,2/20/2024,Pepper - Cubanelle
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Kelby,Brimelow,UNDEFINED,1973-06-06 00:00:00,UNDEFINED,"68 8th Parkway, Suite 10",76141,81.01,95,Rupee,3/18/2024,Longos - Chicken Caeser Salad
996,Jania,Oran,jalulsundruvuchro@oracle.com,1984-06-24 00:00:00,+62 (962) 609.7059,12587 Terrace Derek,UNDEFINED,17.06,89,rupiah,10/13/2024,Leeks - Large
997,Tana,De bernardis,tdrnlyrp@admin.ch,1983-02-28 00:00:00,+62 (145) 861-3249,96 Stoughton Plaza,UNDEFINED,24.14,59,Rupiah,5/1/2024,Bread - Italian Roll With Herbs
998,Sebastien,Harlow,sgrwyrq@bloomberg.com,1987-07-21 00:00:00,+46 (818) 771/2103,7298 Bashford Terrace,777 34777,24.43,100,Krona,11/3/2023,Cake - Night And Day Choclate
999,Vivien,Belward,vlghryr@etsy.com,1974-01-31 00:00:00,+258 (598) 974-2128,Crownhardt Point 7744,UNDEFINED,75.74,40,metical,2/14/2024,"Potatoes - Instant, Mashed"

In [66]:
df2['phone number'] = df2['phone number'].str.replace('.','-').str.replace('/','-')

In [80]:
df2['address'].to_csv('example.txt', sep=';', index=False)

In [70]:
df3 = pd.DataFrame(df2['address'])

In [81]:
def normalize_address(address):
    if address == 'UNDEFINED' or address.strip() == '':
        return 'UNDEFINED'

In [82]:
df3['Standardized_Address'] = df3['address'].apply(normalize_address)

In [83]:
df3

                            address            Standardized_Address
0                   34 Emmet Avenue                 34 Emmet Avenue
1                9678 Mcguire Court              9678 Mcguire Court
2    4466 Spenser Crossing, Suite 5  4466 Spenser Crossing, Suite 5
3                18 Armistice Alley              18 Armistice Alley
4              4464 Golf View Drive            4464 Golf View Drive
..                              ...                             ...
995        68 8th Parkway, Suite 10        68 8th Parkway, Suite 10
996             12587 Terrace Derek             12587 Terrace Derek
997              96 Stoughton Plaza              96 Stoughton Plaza
998           7298 Bashford Terrace           7298 Bashford Terrace
999           Crownhardt Point 7744           Crownhardt Point 7744

[1000 rows x 2 columns]

In [84]:
df3.to_csv('example.txt', sep=';', index=False)